<main>
  <div class="position-relative">
    <!-- shape Hero -->
    <section class="section section-lg section-shaped pb-250">
      <div class="shape shape-style-1 shape-default">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="container py-lg-md d-flex">
        <div class="col px-0">
          <div class="row">
            <div class="col-lg-8">
              <h1 class="display-3 text-white">NÃO SAIA DE CASA!
                <span>Nós somos uma ponte para levar tudo até você.</span>
              </h1>
              <p class="lead text-white">Encontre tudo que você precisa sem sair de casa durante esta quarentena, e evite contaminar-se com o COVID-19 (coronavírus).</p>
              <div class="btn-wrapper">
                <a href="#opcoes-compra" class="btn btn-info btn-icon mb-3 mb-sm-0">
                  <span class="btn-inner--text">Como Encontrar</span>
                  <span class="btn-inner--icon"><i class="fa fa-cart-plus"></i></span>
                </a>
                <a href="#register" class="btn btn-white btn-icon mb-3 mb-sm-0">
                  <span class="btn-inner--text">Cadastre Seu Estabelecimento</span>
                  <span class="btn-inner--icon"><i class="fa fa-registered"></i></span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
    <!-- 1st Hero Variation -->
  </div>

  <section id="opcoes-compra" name="opcoes-compra" class="section section-lg pt-lg-0 mt--200">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="row row-grid">
            <div class="col-lg-6">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-5">
                  <div class="icon icon-shape icon-shape-primary rounded-circle mb-4">
                    <i class="fa fa-map-marker"></i>
                  </div>
                  <h6 class="text-primary text-uppercase">Pesquise por região</h6>
                  <p class="description mt-3">Encontre suprimentos por região.</p>
                  <div>
                    <span class="badge badge-pill badge-primary">SP</span>
                    <span class="badge badge-pill badge-info">DF</span>
                    <span class="badge badge-pill badge-info">RJ</span>
                    <span class="badge badge-pill badge-info">Outros</span>
                  </div>
                  <a href="javascript:void(0)" class="btn btn-primary mt-4">Estabelecimentos por Região</a>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-5">
                  <div class="icon icon-shape icon-shape-success rounded-circle mb-4">
                    <i class="fa fa-filter"></i>
                  </div>
                  <h6 class="text-success text-uppercase">Pesquise por categorias</h6>
                  <p class="description mt-3">Encontre suprimentos por categorias.</p>
                  <div>
                    <span class="badge badge-pill badge-success">supermercados</span>
                    <span class="badge badge-pill badge-info">farmacias</span>
                    <span class="badge badge-pill badge-info">restaurantes</span>
                    <span class="badge badge-pill badge-info">outros</span>
                  </div>
                  <a href="javascript:void(0)" class="btn btn-success mt-4">Estabelecimentos por Categorias</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section bg-secondary">
    <div class="container">
      <div class="row row-grid align-items-center">

        <div class="col-md-6">
          <div class="card bg-default shadow border-0">
            <img src="./assets/img/theme/covid-market.png" class="card-img-top">
            <blockquote class="card-blockquote">
              <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 583 95" class="svg-bg">
                <polygon points="0,52 583,95 0,95" class="fill-default" />
                <polygon points="0,42 583,95 683,0 0,95" opacity=".2" class="fill-default" />
              </svg>
              <h4 class="display-4 font-weight-bold text-white">Compra consciente</h4>
              <p class="lead text-italic text-white">A corrida do brasileiro ao supermercado para fazer estoques de
                alimentos e itens
                de higiene e limpeza por causa da pandemia do novo coronavírus já provoca a falta de alguns produtos nas
                lojas
                especialmente mercadorias básicas.</p>
              <p class="lead text-italic text-white"> Incluir paragrafo</p>
            </blockquote>
          </div>
        </div>

        <div class="col-md-6">
          <div class="card bg-default shadow border-0">
            <img src="./assets/img/theme/img-virus-covid.jpg" class="card-img-top">
            <blockquote class="card-blockquote">
              <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 583 95" class="svg-bg">
                <polygon points="0,52 583,95 0,95" class="fill-default" />
                <polygon points="0,42 583,95 683,0 0,95" opacity=".2" class="fill-default" />
              </svg>
              <h4 class="display-4 font-weight-bold text-white">Evitando propagação do COVID</h4>
              <p class="lead text-italic text-white">Incluir texto mostrando importancia para realizar a compra por delivery.</p>
              <p class="lead text-italic text-white"> Incluir paragrafo</p>
              <p class="lead text-italic text-white"> Incluir paragrafo</p>
              <a href="javascript:void(0)" class="font-weight-bold text-warning mt-5">LINK para pesquisa de suprimentos</a>
            </blockquote>
          </div>
        </div>
        
      </div>
    </div>
  </section>
  
  <section class="section section-lg">
    <app-contributors></app-contributors>
  </section>

  <!-- <section class="section section-lg pt-0"> -->
    <app-banner-register></app-banner-register>
  <!-- </section> -->


  <section class="section section-lg bg-gradient-default">
    <div class="container pt-lg pb-300">
      <div class="row text-center justify-content-center">
        <div class="col-lg-10">
          <h2 class="display-3 text-white">Vantagens de ser um Anunciante</h2>
          <p class="lead text-white">Como anunciante você poderá disponilizar serviço de delivery de forma gratuita.</p>
        </div>
      </div>
      <div class="row row-grid mt-5">
        <div class="col-lg-4">
          <div class="icon icon-lg icon-shape bg-gradient-white shadow rounded-circle text-primary">
            <i class="ni ni-settings text-primary"></i>
          </div>
          <h5 class="text-white mt-3">Vantagem 1</h5>
          <p class="text-white mt-3">[DESCREVA VANTAGEM 100 caracteres]</p>
        </div>
        <div class="col-lg-4">
          <div class="icon icon-lg icon-shape bg-gradient-white shadow rounded-circle text-primary">
            <i class="ni ni-ruler-pencil text-primary"></i>
          </div>
          <h5 class="text-white mt-3">Vantagem 2</h5>
          <p class="text-white mt-3">[DESCREVA VANTAGEM 100 caracteres]</p>
        </div>
        <div class="col-lg-4">
          <div class="icon icon-lg icon-shape bg-gradient-white shadow rounded-circle text-primary">
            <i class="ni ni-atom text-primary"></i>
          </div>
          <h5 class="text-white mt-3">Vantagem 3</h5>
          <p class="text-white mt-3">[DESCREVA VANTAGEM 100 caracteres]</p>
        </div>
      </div>
    </div>
    <!-- SVG separator -->
    <div class="separator separator-bottom separator-skew zindex-100">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </section>
  <section id="register" name="register" class="section section-lg pt-lg-0 section-contact-us">
    <div class="container">
      <div class="row justify-content-center mt--300">
        <div class="col-lg-8">
          <div class="card bg-gradient-secondary shadow">
            <div class="card-body p-lg-5">
              <h4 class="mb-1">Faça seu cadastro e venda suprimentos para quem não pode sair de casa?</h4>
              <p class="mt-0">Preencha o cadastro abaixo e começe a vender.</p>
              
              <div class="form-group mt-5" [ngClass]="{'focused':focus===true}">
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-user"></i></span>
                  </div>
                  <input class="form-control" placeholder="Nome do Seu Negocio (Nome de Fantasia)" type="text" (focus)="focus=true" (blur)="focus=false">
                </div>
              </div>


              <div class="form-group mt-5" [ngClass]="{'focused':focus===true}">
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-user"></i></span>
                  </div>
                  <input class="form-control" placeholder="Razão Social ou Nome do Responsável" type="text" (blur)="focus=false">
                </div>
              </div>

              <div class="form-group" [ngClass]="{'focused':focus1===true}">
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-email"></i></span>
                  </div>
                  <input class="form-control" placeholder="Seu email" type="email" (focus)="focus1=true" (blur)="focus1=false">
                </div>
              </div>
              <div class="form-group mb-4">
                <textarea class="form-control form-control-alternative" name="name" rows="4" cols="80" placeholder="Type a message..."></textarea>
              </div>
              <div>
                <button type="button" class="btn btn-default btn-round btn-block btn-lg">Concluir Cadastro</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section section-lg">
    <div class="container">
      <div class="row row-grid justify-content-center">
        <div class="col-lg-8 text-center">
          <h2 class="display-3">Do you love this awesome
            <span class="text-success">Design System for Angular?</span>
          </h2>
          <p class="lead">Cause if you do, it can be yours for FREE. Hit the button below to navigate to Creative Tim where you can find the Design System in Angular. Start a new project or give an old Angular project a new look!</p>
          <div class="btn-wrapper">
            <a href="https://www.creative-tim.com/product/argon-design-system-angular?ref=adsa-landing-page" class="btn btn-primary mb-3 mb-sm-0">Download Angular</a>
          </div>
          <div class="text-center">
            <h4 class="display-4 mb-5 mt-5">Available on these technologies</h4>
            <div class="row justify-content-center">
              <div class="col-lg-2 col-4">
                <a href="https://www.creative-tim.com/product/argon-design-system?ref=adsa-landing-page" target="_blank" placement="top" ngbTooltip="Bootstrap 4 - Most popular front-end component library">
                  <img src="https://s3.amazonaws.com/creativetim_bucket/tim_static_images/presentation-page/bootstrap.jpg" class="img-fluid">
                </a>
              </div>
              <div class="col-lg-2 col-4">
                <a href="https://www.creative-tim.com/product/argon-design-system-angular?ref=adsa-landing-page" target="_blank" placement="top" ngbTooltip="Angular - One framework. Mobile &amp; desktop">
                  <img src="https://s3.amazonaws.com/creativetim_bucket/tim_static_images/presentation-page/angular.jpg" class="img-fluid">
                </a>
              </div>
              <div class="col-lg-2 col-4">
                <a href="https://www.creative-tim.com/product/vue-argon-design-system?ref=adsa-landing-page" target="_blank" placement="top" ngbTooltip="Vue.js - The progressive javascript framework">
                  <img src="https://s3.amazonaws.com/creativetim_bucket/tim_static_images/presentation-page/vue.jpg" class="img-fluid">
                </a>
              </div>
              <div class="col-lg-2 col-4">
                <a href="https://www.sketchapp.com/?ref=creative-tim" target="_blank" placement="top" ngbTooltip="[Coming Soon] Sketch - Digital design toolkit">
                  <img src="https://s3.amazonaws.com/creativetim_bucket/tim_static_images/presentation-page/sketch.jpg" class="img-fluid opacity-3">
                </a>
              </div>
              <div class="col-lg-2 col-4">
                <a href="https://www.adobe.com/products/photoshop.html?ref=creative-tim" target="_blank" placement="top" ngbTooltip="[Coming Soon] Adobe Photoshop - Software for digital images manipulation">
                  <img src="https://s3.amazonaws.com/creativetim_bucket/tim_static_images/presentation-page/ps.jpg" class="img-fluid opacity-3">
                </a>
              </div>
              <div class="col-lg-2 col-4">
                <a href="https://reactjs.org/?ref=creative-tim" target="_blank" placement="top" ngbTooltip="[Coming Soon] React - A JavaScript library for building user interfaces">
                  <img src="https://s3.amazonaws.com/creativetim_bucket/tim_static_images/presentation-page/react.jpg" class="img-fluid opacity-3">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
