<div class="fab-container">
    <!-- Animation here -->
    <!-- <button mat-fab class="fab-toggler" (click)="onToggleFab()">
        <i class="material-icons" [@fabToggler]="{value: fabTogglerState}">add</i> 
    </button> -->
    <!-- and here -->
    <!-- <div [@speedDialStagger]="buttons.length">
        <button *ngFor="let btn of buttons" mat-mini-fab class="fab-secondary" color="secondary">
            <i class="material-icons">{{btn.icon}}</i>
        </button>
    </div> -->
    <a [routerLink]="['/register']" class="btn btn-warning btn-icon" *ngIf="logged || isVisibleOnThisPage()">
        <span class="btn-inner--icon">
          <i class="fa fa-plus mr-2"></i>
        </span>
        <span class="nav-link-inner--text">Cadastre Seu Estabelecimento</span>
      </a>
</div>