<main>
  <section class="section section-shaped section-lg">

    <div class="shape shape-style-1 bg-gradient-default">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>

    <div class="container pt-lg-md">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <div class="card bg-gradient-secondary shadow">
            <div class="card-body p-lg-5">
              <h4 class="mb-1">Conclua seu cadastro e venda suprimentos para quem não pode sair de casa?</h4>
              <p class="mt-0">Preencha o cadastro abaixo e começe a vender.</p>

              <div class="form-group mt-5">
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-user"></i></span>
                  </div>
                  <input class="form-control" [(ngModel)]="model.fantasyName"
                    placeholder="Nome do Seu Negocio (Nome de Fantasia)" type="text" (focus)="focus=true"
                    (blur)="focus=false">
                </div>
              </div>

              <div class="form-group mt-5">
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-user"></i></span>
                  </div>
                  <input class="form-control" [(ngModel)]="model.companyName"
                    placeholder="Razão Social ou Nome do Responsável" type="text" (blur)="focus=false">
                </div>
              </div>

              <div class="form-group mt-5">
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-user"></i></span>
                  </div>
                  <input class="form-control" [(ngModel)]="model.cnpj"
                    placeholder="CPF/CNPJ" type="text" >
                </div>
              </div>

              <div class="form-group mb-4">
                <textarea class="form-control form-control-alternative" name="name" rows="4" cols="80"
                  placeholder="Detalhes"></textarea>
              </div>

              <h4 class="mb-1">Endereço e Localização</h4>
              <p class="mt-0">Preencha os dados de endereço e localização e ajude as pessoas a te encontrar.</p>

              <div class="form-group mt-5">
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-map"></i></span>
                  </div>
                  <input class="form-control" [(ngModel)]="model.address.zipcode"
                    placeholder="CEP" type="text">
                </div>
              </div>

              <div class="form-group mt-5">
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-map"></i></span>
                  </div>
                  <input class="form-control" [(ngModel)]="model.address.street"
                    placeholder="Logradouro (Rua, nº, quadra)" type="text" >
                </div>
              </div>

              <div class="form-group mt-5">
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-map"></i></span>
                  </div>
                  <input class="form-control" [(ngModel)]="model.address.district"
                    placeholder="Bairro" type="text">
                </div>
              </div>

              <div class="form-group mt-5">
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-map-pin"></i></span>
                  </div>
                  <input class="form-control" [(ngModel)]="model.address.city"
                    placeholder="Cidade" type="text">
                </div>
              </div>

              <div class="form-group mt-5">
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-map-pin"></i></span>
                  </div>
                  <input class="form-control" [(ngModel)]="model.address.state"
                    placeholder="Estado" type="text" >
                </div>
              </div>

              <!-- public acceptTerms?: boolean,
              public active?: boolean,
              public logo?: string,
              public categories?: [],
              public ads?: [],
              public whatsapp?: string,
              public phones?: [],
              public ifood?: boolean,
              public uberEats?: boolean,
              public rappi?: boolean,
              public ownDelivery?: boolean,
              public displayAddress?: boolean,
              public note?: string) { -->

              <div>
                <button type="button" class="btn btn-default btn-round btn-block btn-lg">Concluir Cadastro</button>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>