<section class="section bg-gradient-primary">
  <div class="m-2">
    <div class="align-items-center">
      <div class="col-12">
        <!-- INíCIO do CONTEÚDO -->
        <section class="content-header">
          <div class="text-white d-flex align-items-center justify-content-between">
            <h3 class="text-white">
              Estabelecimentos
            </h3>
          </div>
        </section>

        <section class="content">
          <div class="row">
            <div *ngFor="let merchant of merchants" class="col-sm-12 col-12 col-xl-4 col-lg-4">
              <ns-establishment [merchant]="merchant"></ns-establishment>
            </div>
            <div *ngIf="merchants.length === 0" class="col-12 shadow bg-white rounded">
              <p class="lead text-center">
                Não foram encontrados estabelecimentos.
              </p>
            </div>
          </div>
        </section>
        <!-- FIM  do CONTEÚDO -->
      </div>
    </div>
  </div>
  <div class="separator separator-bottom separator-skew zindex-100">
    <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
</section>