<section class="section section-lg pt-0">
    <div class="container">
        <div class="card bg-gradient-warning shadow-lg border-0">
            <div class="p-5">
                <div class="row align-items-center">
                    <div class="col-lg-8">
                        <h3 class="text-white">Ajude milhares de pessoas a comprar os suprimentos necessários durante a
                            quarentena</h3>
                        <p class="lead text-white mt-3">[CRIAR TEXTO MASSA PARA INCENTIVAR DONO DE ESTABELECIMENTO A
                            CADASTRAR].</p>
                    </div>
                    <div class="col-lg-4 ml-lg-auto">
                        <a href="#register" class="btn btn-lg btn-block btn-white">Cadastre seu Estabelecimento</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>