<main>
  <section class="section section-shaped section-lg">
    <div class="shape shape-style-1 bg-gradient-default">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="container pt-lg-md">
      <div class="row justify-content-center">
        <div class="col-lg-5">
          <app-alert [alert]="dataAlert" (closeEvent)="onCloseAlert()"></app-alert>
          <div class="card bg-secondary shadow border-0">
            <div class="card-header bg-white pb-5">
              <div class="text-muted text-center mb-3">
                <small>Cadastre-se com</small>
              </div>
              <div class="text-center" *ngIf="showOAuth">
                <a href="javascript:void(0)" class="btn btn-neutral btn-icon mr-4">
                  <span class="btn-inner--icon">
                    <i class="fa fa-google"></i>
                  </span>
                  <span class="btn-inner--text">Google</span>
                </a>
                <a href="javascript:void(0)" class="btn btn-neutral btn-icon">
                  <span class="btn-inner--icon">
                    <i class="fa fa-facebook"></i>
                  </span>
                  <span class="btn-inner--text">Facebook</span>
                </a>
              </div>
            </div>
            <div class="card-body px-lg-5 py-lg-5">
              <div class="text-center text-muted mb-4" *ngIf="showOAuth">
                <small>ou crie seu usuário e senha</small>
              </div>
              <form role="form">
                <div class="form-group" [ngClass]="{'focused':focus===true}">
                  <div class="input-group input-group-alternative mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa fa-user"></i></span>
                    </div>
                    <input name="name" class="form-control" placeholder="Nome" type="text" (focus)="focus=true"
                      (blur)="focus=false" [(ngModel)]="model.name">
                  </div>
                </div>
                <div class="form-group" [ngClass]="{'focused':focus1===true}">
                  <div class="input-group input-group-alternative mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa fa-inbox"></i></span>
                    </div>
                    <input name="email" class="form-control" placeholder="Email" type="email" (focus)="focus1=true"
                      (blur)="focus1=false" [(ngModel)]="model.email">
                  </div>
                </div>
                <div class="form-group" [ngClass]="{'focused':focus2===true}">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa fa-unlock"></i></span>
                    </div>
                    <input name="password" class="form-control" placeholder="Senha" type="password"
                      (focus)="focus2=true" (blur)="focus2=false" [(ngModel)]="model.password">
                  </div>
                </div>
                <div class="form-group" [ngClass]="{'focused':focus3===true}">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa fa-unlock"></i></span>
                    </div>
                    <input name="confirmPassword" class="form-control" placeholder="Confirme Senha" type="password"
                      (focus)="focus3=true" (blur)="focus3=false" [(ngModel)]="model.confirmPassword">
                  </div>
                </div>
                <div class="text-muted font-italic" *ngIf="!model.isConfirmPasswordOK()">
                  <small>
                    <span class="text-danger font-weight-700">senhas não coincidem</span>
                  </small>
                </div>
                <div class="row my-4">
                  <div class="col-12">
                    <div class="custom-control custom-control-alternative custom-checkbox">
                      <input class="custom-control-input" id="customCheckRegister" type="checkbox" [(ngModel)]="model.acceptTerms">
                      <label class="custom-control-label" for="customCheckRegister">
                        <span>Eu li e aceito
                          <a href="javascript:void(0)"> os termos de uso e privacidade</a>
                        </span>
                      </label>
                    </div>
                  </div>
                </div>
                <div class="text-center">
                  <button type="button" class="btn btn-primary mt-4" (click)="save()">Cadastrar</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>