<main class="profile-page">
  <section class="section-profile-cover section-shaped my-0">
    <!-- Circles background -->
    <div class="shape shape-style-1 shape-primary alpha-4">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <!-- SVG separator -->
    <div class="separator separator-bottom separator-skew">
      <svg
        x="0"
        y="0"
        viewBox="0 0 2560 100"
        preserveAspectRatio="none"
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
      >
        <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <div class="card card-profile shadow mt--300">
        <div class="px-4">
          <div class="col-12">
            <div class="col-12">
              <div class="card-profile-image">
                <a (click)="goBack()" class="cursor-pointer">
                  <img
                    src="../../assets/img/icons/close.png"
                    class="rounded-circle"
                  />
                </a>
              </div>
            </div>
            <div class="mt-3 d-flex justify-content-between">
              <div class="text-center">
                <h6>Atendemos nos telefones</h6>
                <i class="fa fa-phone-square m-1"></i>
                <label>{{ getPhones() }}</label>
                <div *ngIf="merchant.whatsapp">
                  <i class="fa fa-whatsapp m-1"></i>
                  <label>{{ merchant.whatsapp }}</label>
                </div>
              </div>
              <div
                *ngIf="merchant.ifood || merchant.uberEats || merchant.rappi"
              >
                <h6>Canais de atendimento</h6>
                <div class="d-flex flex-row">
                  <div class="text-center m-2" *ngIf="merchant.ifood">
                    <img
                      class="rounded"
                      src="../../assets/img/establishment/ifood.ico"
                    />
                  </div>
                  <div class="text-center m-2" *ngIf="merchant.uberEats">
                    <img
                      class="rounded"
                      src="../../assets/img/establishment/ubereats.ico"
                    />
                  </div>
                  <div class="text-center m-2" *ngIf="merchant.rappi">
                    <img
                      class="rounded"
                      src="../../assets/img/establishment/rappi.ico"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center mt-5">
            <div>
              <a class="cursor-pointer">
                <img src="{{ getLogo() }}" class="rounded-circle" />
              </a>
            </div>
            <h3 *ngIf="merchant.fantasyName !== 'undefined'">
              {{ merchant.fantasyName }}
              <span class="font-weight-light"></span>
            </h3>
            <div class="h6 font-weight-300">
              <i class="ni location_pin mr-2"></i>{{ merchant.note }}
            </div>
            <div class="h6 mt-4">
              <i class="ni business_briefcase-24 mr-2"></i>{{ getCategories() }}
            </div>
            <div>
              <i class="ni education_hat mr-2"></i
              >{{ merchant.address.district }}, {{ merchant.address.city }} -
              {{ merchant.address.state }}
            </div>
          </div>
          <div class="mt-5 py-5 border-top text-center">
            <div class="row justify-content-center">
              <div class="col-lg-9">
                <google-maps
                  [endereco]="merchant.address.street"
                  [lat]="merchant.address.location.latitude"
                  [lng]="merchant.address.location.longitude"
                ></google-maps>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
