<div class="container">

  <h2 class="mt-lg mb-5">
    <span>Estabelecimentos</span>
  </h2>

  <form [formGroup]="searchForm">

    <div class="row">
      <div class="col-md-6">
        <small class="d-block text-uppercase font-weight-bold mb-2">Estabelecimento</small>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="ni ni-shop"></i></span>
            </div>
            <input type="text" formControlName="searchControl" class="form-control"
              placeholder="O que você está procurando?" />
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <small class="d-block text-uppercase font-weight-bold mb-2">Categorias</small>
        <div class="form-group">
          <select class="form-control m-2" formControlName="categoryControl"
            (change)="changeCategory($event.target.value)">
            <option [value]="">Categoria</option>
            <option [value]="category.name" *ngFor="let category of categories">{{
            category.name
                  }}</option>
          </select>
        </div>
      </div>

    </div>

    <div class="row">

      <div class="col-md-6">
        <small class="d-block text-uppercase font-weight-bold mb-2">Estado</small>
        <div class="form-group">
          <select class="form-control m-2" formControlName="stateControl" (change)="changeState($event.target.value)">
            <option [value]="">Estado</option>
            <option [value]="state.uf" *ngFor="let state of states">{{
                    state.name
                  }}</option>
          </select>
        </div>
      </div>

      <div class="col-md-6">
        <small class="d-block text-uppercase font-weight-bold mb-2">Cidade</small>
        <div class="form-group">
          <select class="form-control m-2" formControlName="cityControl" (change)="changeCity($event.target.value)">
            <option [value]="">Cidade</option>
            <option [value]="city" *ngFor="let city of cities">{{
            city.name
          }}</option>
          </select>
        </div>
      </div>

      <div class="col-md-12 pull-right">
        <button class="btn btn-block btn-default mb-3" (click)="getCurrentLocation()">
          Procurar nas proximidades
        </button>
      </div>
    </div>
  </form>

  <div class="row">
    <div *ngIf="merchants.length === 0" class="col-12 shadow bg-white rounded  mt-2">
      <p class="lead text-center">
        Não foram encontrados estabelecimentos para a categoria <b>{{ filter.category }}</b>.
      </p>
    </div>
    <div *ngFor="let merchant of merchants" class="col-sm-12 col-12 col-xl-4 col-lg-4 mt-2">
      <ns-establishment [merchant]="merchant"></ns-establishment>
    </div>
    <div *ngIf="merchants.length > 0" class="col-12 mt-4">
      <button class="btn btn-block btn-success mb-3" (click)="fetchMoreRows()">
        Ver mais estabelecimentos 
      </button>
    </div>
  </div>

</div>