<section class="section section-lg bg-gradient-default">
    <div class="container pt-lg pb-300">
      <div class="row text-center justify-content-center">
        <div class="col-lg-10">
          <h2 class="display-3 text-white">Vantagens de ser um Anunciante</h2>
          <p class="lead text-white">Como anunciante você poderá disponibilizar serviço de delivery do seu comércio de forma gratuita.</p>
        </div>
      </div>
      <div class="row row-grid mt-5">
        <div class="col-lg-4">
          <div class="icon icon-lg icon-shape bg-gradient-white shadow rounded-circle text-primary">
            <i class="fa fa-users text-primary"></i>
          </div>
          <h5 class="text-white mt-3">Divulgação gratuita</h5>
          <p class="text-white mt-3">De forma gratuita, sem custos para você empresário, comerciante ou empreendedor, ter mais visibilidade nas vendas.</p>
        </div>
        <div class="col-lg-4">
          <div class="icon icon-lg icon-shape bg-gradient-white shadow rounded-circle text-primary">
            <i class="fa fa-arrow-up text-primary"></i>
          </div>
          <h5 class="text-white mt-3">Aumento de Vendas</h5>
          <p class="text-white mt-3">Geração de vendas e exposição da sua marca ou produto de forma positiva e assim fazendo o bem a quem necessita de seus serviços em tempos difíceis.</p>
        </div>
        <div class="col-lg-4">
          <div class="icon icon-lg icon-shape bg-gradient-white shadow rounded-circle text-primary">
            <i class="fa fa-heart text-primary"></i>
          </div>
          <h5 class="text-white mt-3">Corrente do bem</h5>
          <p class="text-white mt-3">Agregamos o máximo de deliveries em um só lugar, assim é criado uma corrente do bem, facilitando o comércio e ativando a economia em tempos de coronavírus.</p>
        </div>
      </div>
    </div>
    <!-- SVG separator -->
    <div class="separator separator-bottom separator-skew zindex-100">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </section>