<main>
  <div class="position-relative">
    <!-- shape Hero -->
    <section class="section section-lg section-shaped pb-250">
      <div class="shape shape-style-1 shape-default">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="container py-lg-md d-flex">
        <div class="col px-0">
          <div class="row">
            <div class="col-lg-8">
              <h1 class="display-3 text-white">Meus Estabelecimentos</h1>
            </div>
          </div>
        </div>
      </div>

      <section class="content m-5 align-items-center" >
        <div class="row">
          <div *ngFor="let merchant of merchants" class="col-sm-12 col-12 col-xl-4 col-lg-4">
            <ns-establishment [merchant]="merchant"></ns-establishment>
          </div>
          <div *ngIf="merchants.length === 0" class="col-12 shadow bg-white rounded">
            <p class="lead text-center">
              Não foram encontrados estabelecimentos.
            </p>
          </div>
        </div>
      </section>

      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
    <!-- 1st Hero Variation -->
  </div>

  </main>
